![Astrofisica Computacional](../logo.png)

---
## 09. Introduction to SQL


Eduard LarraÃ±aga (ealarranaga@unal.edu.co)

---


### About this notebook

In this worksheet we will present some basic examples using SQL. 

---

### SQL

SQL (**S**tructured **Q**uery **L**anguage) is a standard language for storing, manipulating and retrieving data in databases.
 
 It is particularly useful in handling structured data, i.e. data incorporating relations among entities and variables.

### Introducing the data

In this lesson, we will consider a spreadsheet file used in the CS50x course at Harvard 

https://docs.google.com/spreadsheets/d/e/2PACX-1vRfpjV8pF6iNBu5xV-wnzHPXvW69wZcTxqsSnYqHx126N0bPfVhq63UtkG9mqUawB4tXneYh31xJlem/pubhtml


(This course is available at https://cs50.harvard.edu/x/2021/).

---

The spreadsheet contains the information of shows in the Netflix site and will show some problems that arise when we want to access the data!

---
### A database to work with

Now,  we will introduce a file that contains the same information of the spreadsheet but in the format of a relational database. This file is called 'shows.db'.

---
### SQLite

SQLite is a C-language library that implemnts a small and fast SQL database engine. Complete information about SQLite can be found at

https://www.sqlite.org/index.html

You can check if SQLite is installed in your computer using
```
$ sqlite3 --version
```

Download links for all OS can be found at

https://www.sqlite.org/download.html

---
Now, we will use this library to access the information in the shows database. The first step is to load the database using
```
$ sqlite3 shows.db
```

The promt will change to `sqlite>`. 

The structure of the database can be seen with the command
```
sqlite> .schema
```

The structure of a particular table in the database is obtained by
```
sqlite> .schema stars
```

---
### Structure of a Query
An SQL query consists of three pieces or blocks: the **SELECT block**, the **FROM block** and the **WHERE block**.

 - The SELECT block tells the database which columns of data you want it to return. You must separate each column name with a comma. 

- The FROM block specifies which table (or tables) you want to search.

For example, if you wanted to select the year feature from the shows table, we use the command
```
SELECT year FROM shows;
```

If  you want to select all the features from the shows table, you use
```
SELECT * FROM shows;
```


- The WHERE block allows you to search for records with certain characteristics. Your list of characteristics must be separated by boolean operators. 

Suppose you wanted to limit your search to a particular show using its title. Then you use
```
SELECT * FROM shows WHERE title='Black Mirror';
```

Now, let us try some of the basic commands of sqlite.


1. Show the structure of the database:
```
sqlite> .schema
```

2. Show the structure of a particular table in the database:
```
sqlite> .schema stars
```

3. Select all features from a table (too many information!)
```
SELECT * FROM shows;
```

4. How many entries are in this table?
```
SELECT COUNT(*) FROM shows;
```

5. Select a particular sample in the list. (e.g. exact title!)
```
SELECT * FROM shows WHERE title = 'Black Mirror';
```

6. Sometimes, a query may give many results. For example
```
SELECT * FROM shows WHERE title = 'The Office';
```

7. Select samples with part of a text string.
```
SELECT * FROM shows WHERE title LIKE '%Things%';
```

8. Select entries with a range of numerical values
```
SELECT * FROM shows WHERE year > 2020;
```

9. Select a particular feature in a table
```
SELECT year FROM shows WHERE title LIKE 'Stranger Things';
```

10. Order the selection according to one feature
```
SELECT * FROM shows WHERE title LIKE 'Doctor Who%' ORDER BY year;
```
```
SELECT * FROM shows WHERE title LIKE 'Doctor Who%' ORDER BY year DESC;
```

11. Limiting the number of results.
```
SELECT * FROM shows WHERE title LIKE 'Doctor Who%' ORDER BY year DESC LIMIT 10;
```

12. Including boolean operators in the query
```
SELECT * FROM shows WHERE year > 1990 AND year < 2000 ;
```
```
SELECT * FROM shows WHERE year BETWEEN 1990 AND 2000 ;
```
```
SELECT id FROM shows WHERE title='Stranger Things' AND year = 2016;
```

13. Search involving more than one table.
```
SELECT * FROM genres WHERE show_id = 4574334;
```
This is improved by using 
```
SELECT * FROM genres WHERE show_id = (SELECT id FROM shows WHERE title='Stranger Things' AND year = 2016);
```

14. To exit SQLite, use
```
.quit
```

---
### Exercises

1. How many shows have a perfect 10.0 rating?

2. How many episodes have the show 'Black Mirror'?

3. How many shows are in the Sci-Fi genre?

4. Which is the best rated show in the Horror genre?

5. How many Animation genre shows are in thre database?

6. Which are the 10 worst rated shows in the Animation genre in the last five years?